{% comment %}
  ChurchSuite Plan Viewer
  Copyright (C) 2025 Richard Huss

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of  MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<h2>
  {{plan.detail.name}}<br />
  {{plan.detail.date_time | date: "%A %e %b %Y, %l.%M%P"}}
</h2>

<table class="plan">
  {% for item in plan.items %}
    {% if item.type_id == 22 %}
      <tr class="heading">
        <td colspan="2">{{item.name}}</td>
      </tr>
    {% else %}
      <tr>
        <td>
          {% if item.type == 'song' %}
            <strong>Song:</strong>
          {% endif %}
          {% if item.type_id == 19 %}
            <strong>Video:</strong>
          {% endif %}
          {{item.name}}
          {%- for question in item.question_responses %}
            {%- if question.response_type == 'bible'%}:
              {% for value in question.value %}
                {{value.book | bibleBook}} {{value.reference}}
                {%- if forloop.last == false %},
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for person in item.people -%}
            {{person | personName}}
            {%- if forloop.last == false %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>