{% comment %}
  ChurchSuite Plan Viewer
  Copyright (C) 2025 Richard Huss

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of  MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<h2>
  {{plan.detail.name}}<br />
  {{plan.detail.date_time | date: "%A %e %b %Y, %l.%M%P"}}
</h2>

{% for item in plan.items %}
  {% if item.type_id == 22 %}
    <h3>{{item.name}}</h3>
  {% else %}

    <div class="item">
      <p class="people">
        {% for person in item.people -%}
          {{person | personName}}
          {%- if forloop.last == false %}, {% endif %}
        {% endfor %}
      </p>

      <h4>
        {% if item.type == 'song' %}
          Song:
        {% endif %}
        {% if item.type_id == 19 %}
          Video:
        {% endif %}
        {{item.name}}
        {%- for question in item.question_responses %}
          {%- if question.response_type == 'bible'%}:
            {% for value in question.value %}
              {{value.book | bibleBook}} {{value.reference}}
              {%- if forloop.last == false %},
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </h4>
    </div>

    {% if item.type_id == 20 or item.type_id == 21 %}
        {%- for question in item.question_responses %}
          {% if question.id == 9 or question.id == 10 %}
            {% if question.value %}
              <div class="liturgy">{{question.value | markdown}}</div>
            {% endif %}
          {% endif %}
        {% endfor %}
    {% endif %}

    {% if item.comment %}
        <p class="comment">{{ item.comment }}</p>
    {% endif %}
    
  {% endif %}
{% endfor %}