<h2>{{plan.plan.name}}</h2>
<h3>{{plan.plan.date}} {{plan.plan.time}}</h3>

<table class="plan">
  {% for item in plan.items %}
    {% if item.type_id == 22 %}
      <tr class="heading">
        <td colspan="2">{{item.name}}</td>
      </tr>
    {% else %}
      <tr>
        <td>
          {% if item.type == 'song' %}
            <strong>Song:</strong>
          {% endif %}
          {{item.name}}
          {%- for question in item.question_responses %}
            {%- if question.response_type == 'bible'%}:
              {% for value in question.value %}
                {{value.book | bibleBook}} {{value.reference}}
                {%- if forloop.last == false %},
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for person in item.people -%}
            {{person.first_name}}
            {%- if forloop.last != true %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>