{% comment %}
  ChurchSuite Plan Viewer
  Copyright (C) 2025 Richard Huss

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of  MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div class="container-fluid g-0">
  <div class="row">
    <div class="col-8">
      <h2>
        {{plan.detail.name}}<br />
        {{plan.detail.date_time | date: "%A %e %b %Y, %l.%M%P"}}
      </h2>
    </div>
    <div class="col-4">
      <img id="logo" src="{{brand.logo.data_url}}" style="max-width: 100%;" />
    </div>
  </div>
</div>

{% for item in plan.items %}
  {% if item.type_id == types.heading.id %}
    <h3>
      {% if settings.timings %}
        {{item.date_time | date: settings.time_format}}
      {% endif %}
      {{item.name}}
    </h3>
  {% else %}

    <div class="item">
      <p class="people">
        {% for person in item.people -%}
          {{person | personName}}
          {%- if forloop.last == false %}, {% endif %}
        {% endfor %}
        {% for note in item.notes -%}
          {% if note.name == 'People' %}
            {{note.note}}
          {% endif %}
        {% endfor %}
      </p>

      <h4>
        {% if settings.timings %}
          {{item.date_time | date: settings.time_format}}
        {% endif %}
        {% if item.type == 'song' %}
          Song:
        {% endif %}
        {% if item.type_id == types.video.id %}
          Video:
        {% endif %}
        {{item.name}}
        {%- for question in item.question_responses %}
          {%- if question.response_type == 'bible'%}:
            {% for value in question.value %}
              {{value.book | bibleBook}} {{value.reference}}
              {%- if forloop.last == false %},
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        {{item | songKey}}
      </h4>
    </div>

    {% if item.type_id == types.liturgy.id or item.type_id == types.prayers.id %}
        {%- for question in item.question_responses %}
          {% if question.response_type == 'paragraph' %}
            {% if question.value %}
              <div class="liturgy">{{question.value | markdown}}</div>
            {% endif %}
          {% endif %}
        {% endfor %}
    {% endif %}

    {% if item.type == 'song' and settings.song_lyrics and item.arrangement %}
      <div class="song">
        {% for stanza in item.arrangement.stanzas %}
          <h5>{{stanza.name}}</h5>
          <p class="stanza">
            {% for line in stanza.lines %}
              {{line}}
              {% if forloop.last == false %}
                <br />
              {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
        <p class="songCredits">
          {{item | songCredits}}
        </p>
      </div>
    {% endif %}

    {% if item.comment %}
        <p class="comment">{{ item.comment }}</p>
    {% endif %}
    
  {% endif %}
{% endfor %}